{
  "semi": false,
  "singleQuote": true,
  "trailingComma": "all",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "printWidth": 80,
  "endOfLine": "lf",
  "jsxSingleQuote": true
}
